* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 60%;
    background-image: linear-gradient(#A9A9A9,#808080,#696969,#000000);
    
  }

  section {
    display: flex;
    gap: 20rem;
    margin: 2rem 50rem 0 5rem;
    
  }

  .task {
    font-size: 3rem;
  }

  h1
  {
      font-style: italic;
      font-size: 3rem;
      margin-top: 2rem;
      text-decoration: underline;
  }

  .item
  {
    font-size: 2rem;
  }

  img 
  {
    width: 90rem;
    height: 40rem;
    margin: 1rem 50rem 2rem 1rem;
  }

  video
  {
      width: 40rem;
      height: 50rem;
    margin: 1rem 50rem 2rem 1rem;
    background-color: black;
  }

  audio
  {
    width: 90rem;
    margin: 2rem 50rem 0 1rem;
  }

  a:active,a:hover 
  {
    color: white;
  }

  iframe
  {
      display: flex;
      width : 90rem;
      height : 60rem;
      margin: 2rem 50rem 2rem 1rem;
  }